<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    <title>Payment</title>
  </head>
  <body>
    <main>
      <header>
        <div id="qr-code">
          <img src="{{ url_for('static', filename='assets/404.png') }}" alt="QR Code" />

        </div>

        <aside>
          <h1>Oops, we couldn't find your order</h1>
          <p>
            Please check if the URL is correct. If you have any questions, please contact our support team.
          </p>
          <div id="div-buttons">
            <button id="my-orders-button">
              VIEW MY ORDERS
            </button>
            <button id="support-button">
              CONTACT SUPPORT
            </button>
          </div>
        </aside>
      </header>

    </main>
  </body>
</html>
